﻿@model ModelARQSI.Model.Local

@{
    ViewBag.Title = "Delete";
}

<h2>Apagar Local</h2>

<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GPS_Lat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GPS_Lat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GPS_Long)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GPS_Long)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Apagar" class="btn btn-default" /> |
            @Html.ActionLink("Voltal à lista", "Index")
        </div>
    }
</div>
