﻿@model ModelARQSI.Model.Local

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes do Local</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GPS_Lat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GPS_Lat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GPS_Long)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GPS_Long)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Voltar à lista", "Index")
</p>
