﻿@model IEnumerable<ModelARQSI.Model.Local>

@{
    ViewBag.Title = "Index";
}

<h2>Locais</h2>

<p>
    @Html.ActionLink("Criar Local", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GPS_Lat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GPS_Long)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GPS_Lat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GPS_Long)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.ID }) |
            @Html.ActionLink("Apagar", "Delete", new { id = item.ID }) 
        </td>
    </tr>
}

</table>
