/* Estilo Global */

body {
    font-family: 'Verdana';
    font-size: 11pt;
    width: 100%;
    height: 100%;
    text-align: justify;
}

#widgetForm {
    /*background-color: #EEE9E9;*/
    width: 100%;
    height: 100%;
}

/* Estilo do Menu de Sensores */
.menuTabs {
    list-style-type: none;
    padding: 0px;

}

.menuTabs li {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    width: 165px;
    overflow: hidden;
    border-radius: 10px;
    background-color: #b2b5ba;
    margin-bottom: 5px;
    display: block;
}

.menuTabs li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    
 	
}

.menuTabs li:hover  {
    background-color: #CDC9C9;
}

.menuTabs li a:focus, .active {
    color: #8B1A1A;
}

.divValoresUl {
    list-style-type: none;
    padding-top: 0%;
    padding-bottom: 0%;
    margin-top:0%;
    margin-bottom: 0%;
}


#tabelaResultados td{
	border: 1px solid black;
	padding: 15px;
	text-align: left;
	border-collapse: collapse;
	border-radius: 5px;
}

#tabelaResultados th{
	border: 1px solid black;
	padding: 15px;
	text-align: left;
	border-collapse: collapse;
	background-color: gray;
	border-radius: 5px;
}

#tabelaResultados tr:nth-child(even) {
	background-color: #c3c6cc;
}

#painelFacetas h4 {
	padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
	border-radius: 25px;
    background-color: #b2b5ba;
    width: 190px;
}

#pesquisaResultados {
	margin-top: 5px;
	border-radius: 5px;
}


