<?php
use Percurso\Form\LoginForm;
?>
<strong>Module:</strong>		Percurso &raquo;
<strong>Controller:</strong>	Percurso &raquo;
<strong>Action:</strong>		login

<?php
$title = 'Login';
$this->headTitle($title);
?>
<h1><?php echo $this->escapehtml($title);?></h1>
<?php 
$form = new LoginForm();
$form->setAttribute('action', $this->url('percurso', array('action' => 'register')));
$form->prepare();

echo $this->form()->openTag($form);
echo $this->formRow($form->get('email'));
echo "<br />";
echo $this->formRow($form->get('password'));
echo "<br />";
echo $this->formSubmit($form->get('submit'));
echo $this->form()->closeTag();

?>