<?php
use Percurso\Form\RegisterForm;
?>
<strong>Module:</strong>		Percurso &raquo;
<strong>Controller:</strong>	Percurso &raquo;
<strong>Action:</strong>		register

<?php
$title = 'Criar Conta';
$this->headTitle($title);
?>
<h1><?php echo $this->escapehtml($title);?></h1>
<?php 
$form = new RegisterForm();
$form->setAttribute('action', $this->url('percurso', array('action' => 'register')));
$form->prepare();

echo $this->form()->openTag($form);
echo $this->formHidden($form->get('turistaID'));
echo "<br />";
echo $this->formRow($form->get('nome'));
echo "<br />";
echo $this->formRow($form->get('password'));
echo "<br />";
echo $this->formRow($form->get('email'));
echo "<br />";
echo $this->formRow($form->get('nacionalidade'));
echo "<br />";
echo $this->formSubmit($form->get('submit'));

echo $this->form()->closeTag();

?>